<!DOCTYPE html>
<html>
  <head>
    <title>TODO APP</title>
    <link href='stylesheets/custom.css' type='text/css' rel='stylesheet'>
  </head>
  <body ng-app='todo'>
    <section ng-controller='TodoController' class='container'>
      <form ng-submit='add(item)' novalidate>
        <input type='text' ng-model='item' id='new-task'>
        <input type='submit' value='Add task' class='add-btn'></button>
      </form>
      <ul ng-repeat='item in list'>
        <li>
          <h3>{{ item }}</h3>
          <a ng-click='remove(item)' class='item-delete'>Delete</a>
        </li>
      </ul>
    </section>

    <script src='bower_components/angular/angular.js'></script>
    <script src='app/todo.js'></script>
  </body>
</html>